<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
  <!--<span v-text="hello"></span>-->
    <!--<span v-html="hello"></span>-->
    <!--<input type="checkbox" v-model="name" value="体育">PE<br>-->
    <!--<input type="checkbox" v-model="name" value="数学">Math<br>-->
    <!--<input type="checkbox" v-model="name" value="英语">English<br>-->
    <!--<input type="checkbox" v-model="name" value="语文">chiese<br>-->
    <!--<input type="checkbox" v-model="name" value="音乐">music<br>-->
    <!--你选择了:{{name.join(",")}}-->
    <!--<a href="www.baidu.com" v-on:click.prevent="creat()">点击出现</a>-->
    <input type="text" v-on:keyup.a="num++" >
    这是我的值：{{num}}
</div>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    var ap=new Vue({
        el:"#app",
       data:{
            num:2
        }



    })
</script>
</body>
</html>